<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/3/a/6/3a653d5b19_50185574_cochon-pas-bete.jpg);">
  <div class="container">
    <h1>Pick a pig</h1>
    <p>Get rid of your food scraps, adopt a pig !</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>

<div class="content-container">
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip">
    <img src="https://i0.wp.com/groingroin.org/wp-content/uploads/2019/12/aider-animaux-bernadette-03.jpg?fit=750%2C400&ssl=1" />
    <div class="card-trip-infos">
      <div>
        <h2>Bernadette</h2>
        <p>Cute black female that loves carrots.</p>
      </div>
      <h2 class="card-trip-pricing">25€/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
