<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/3/a/6/3a653d5b19_50185574_cochon-pas-bete.jpg);">
  <div class="container">
    <h1>Pick a pig</h1>
    <p>Get rid of your food scraps, adopt a pig !</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>
