.alert {
  top: 80px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.close {
  border: none;
  background: rgba(0,0,0,0);
  font-size: 40px;
  opacity: .5;
  margin-right: 16px;
}
