.card-pig-detailed {
  margin: 30px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 40%;
  margin: 0 auto;
  color: #808080;
  border-radius: 4px;
}

.card-pig-detailed > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-pig-detailed h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 4px;
}

.card-pig-detailed p {
  font-size: 16px;
  margin: 0;
  padding: 4px;
  opacity: 0.7;
}


.card-pig-detailed .card-pig-detailed-infos {
  padding: 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .avatar {
    position: absolute;
    right: 5px;
    top: -10px;
  }
}

.card-pig-detailed .card-pig-detailed-pricing {
  font-size: 24px;
  // color: #9F4A54;
}

.card-pig-detailed .card-pig-detailed-rating {
  font-size: 16px;
  margin-top: 10px;
}

.rating-zero {
  visibility:hidden;
}

.card-pig-detailed {
  position: relative;
  .card-pig-available {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
    font-weight: 400;
    box-shadow: 1px 1px 4px #6c757d;


    .card-pig-available-true {
      background-color: #7FB069;
      padding: 4px 8px;
      border-radius: 4px;
    }

    .card-pig-available-false {
      background-color: #9F4A54;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}
