.card-customer-rental {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transform: scale(1);
  transition: transform .3s;
  margin-bottom: 24px;
  border-radius: 4px;
  position: relative;


  &:hover {
    // opacity: 0.7;
    cursor: pointer;
    transform: scale(1.03);
    transition: transform .3s;
  }

  .pig-pic {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .edit-icon:hover {
    color: #F8AD9D;
  }

  .delete-icon:hover {
    color: #9F4A54;
    color: red;
    opacity: .8;
  }
}

.card-customer-rental h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: grey;
}

.card-customer-rental p {
  font-size: 14px;
  color: #808080;
  margin: 0;
}


.card-customer-rental .card-customer-rental-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.card-customer-rental-infos .card-customer-rental-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  z-index: 1;
}

.card-customer-rental-infos {
  position: relative;
  padding: 16px;

  .avatar {
    position: absolute;
    right: 5px;
    top: -10px;
  }
}

.pen-icon {
  margin-bottom: 8px !important;
}
.card-customer-rental-pricing {
  font-size: 16px;
}

.status {
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  font-weight: 400;
  box-shadow: 1px 1px 4px #6c757d;
}

.green-status {
  background-color: #7FB069;
  padding: 4px 8px;
  border-radius: 4px;
}

.yellow-status {
  background-color: #F8AD9D;
  padding: 4px 8px;
  border-radius: 4px;
}

.red-status {
  background-color: #9F4A54;
  padding: 4px 8px;
  border-radius: 4px;
}
