#pig-map {
  height: 350px !important;
  min-height: 0 !important;
  margin-bottom: 35px;
}

.mapboxgl-ctrl-logo {
  visibility: hidden;
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-bottom-right {
  visibility: hidden;
  a {
    visibility: hidden;
  }
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 4px;

  a {
    text-decoration: none;
  }

  h5 {
    padding-top: 8px;
    color: #808080;
    margin: 0;
  }

  h6 {
    color: #808080;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 40px 20px 40px !important;

  .avatar-user {
    text-align: center;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: grey;
  }

  .content-avatar {
    margin: 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    padding-bottom: 15px;

    .avatar-pig {
      flex-grow: 1;
    }
  }
}

.a-no-decoration {
  text-decoration: none;
  border: none;
}

.pig-list-popup {
  gap: 20px;
}
